allure-pytest==2.16.0
allure-python-commons==2.16.0
attrs==25.3.0
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
faker==37.12.0
idna==3.11
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pygments==2.19.1
pytest==8.4.0
requests==2.32.3
tzdata==2025.2
urllib3==2.4.0
pytest-cov==7.1.0